.snakemake
.tests/integration/.snakemake

.vscode
.idea

*~
*.pyc
*.swp

venv

.cache
.java
temp

fusions
prealignment
alignment
qc
snv_indels
genefuse.json
annotation
bam_dna
biomarker
cnv_sv
gvcf_dna
logs
results
