.snakemake
.tests/integration/.snakemake

.vscode
.idea

*~
*.pyc
*.swp

venv

temp
.java
.cache
.vscode

alignment
fusions
prealignment
qc
SeraSeq-Fusionv4-Pool1_R
snv_indels
results
logs
bam_rna

# venv location
Twist_Solid
